/* Purple: #7D28A1 */
body {
    background: #e6ccff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e6ccff;
    border-bottom: solid 2px #7d28a1;
}
h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    font-family: 'Akronim', cursive;
    font-size: 2em;
    color: #7d28a1;
    margin: 5px 0;
}
#header img {
    width: 75px;
    padding-right: 15px;
}
#nav-bar {
    display: flex;
    justify-content: flex-end;
    background-color: #e6ccff;
    width: 100%;
    margin: 0 15px;
}
#nav-bar a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    background-color: #7d28a1;
    border-radius: 5px;
    font-size: .8em;
}
#nav-bar a:hover {
    color: #7d28a1;
    background-color: white;
    font-weight: bold;
}
/* Media Queries */
@media screen and (max-width: 768px) {
    #nav-bar a {
        font-size: 1em;
        color: #7d28a1;
        background-color: transparent;
    }
    #nav-bar a:hover {
        text-decoration: underline;
        font-weight: bolder;
        background-color: transparent;
    }
}