/* Purple: #7D28A1 */
/* Main Styles */
body {
    background: #e6ccff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    color: #7d28a1;
    text-shadow: 4px 2px 5px #835a94;
    text-align: center;
}
p {
    font-size: 0.8em;
}

/* Header & Navigation */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e6ccff;
    border-bottom: solid 2px #7d28a1;
}
h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    font-family: 'Akronim', cursive;
    font-size: 2em;
    color: #7d28a1;
    margin: 5px 0 5px 10px;
}
#header img {
    width: 75px;
    padding-right: 15px;
}
#nav-bar {
    display: flex;
    justify-content: flex-end;
    background-color: #e6ccff;
    width: 100%;
    margin: 0 15px;
}
#nav-bar a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    margin: 5px 10px;
    background-color: #7d28a1;
    border-radius: 5px;
    font-size: .8em;
}
#nav-bar a:hover {
    color: #7d28a1;
    background-color: white;
    font-weight: bold;
}

/* Form */
#form {
    margin-top: 150px;
    display: flex;
    align-items: center;
}
#email {
    border-color: #7d28a1;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 3px 5px #835a94;
    margin-right: 10px;
}
#submit {
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px 25px;
    box-shadow: 3px 3px 5px #835a94;
    background-color: #7d28a1;
    color: white;
    border-color: #7d28a1;
    font-weight: bold;
    font-size: 0.9em;
}
#submit:hover {
    background-color: #fff;
    color: #7d28a1;
    border-color: #fff;
}

/* Embedded Video */
iframe {
    border: 6px solid #7d28a1;
    border-radius: 4px;
    margin: auto;
}

/* Prices */
#price-wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: auto;
}
.price-box {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: white;
    border-color: #7d28a1;
    border: solid 2px #7d28a1;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 8px #835a94;
}
#pricing h3 {
    width: 100%;
    margin: 10px auto;
}
#pricing h2 {
    width: 100%;
    font-size: 5em;
    margin: 10px auto;
}
.duration {
    display: inline-block;
    vertical-align: top;
    font-size: 0.5em;
    padding-top: 10px;
    padding-left: 5px;
}
.price-box button {
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #7d28a1;
    border-color: transparent;
    cursor: pointer;
}
/* Media Queries */
@media screen and (max-width: 717px) {
    /* Navigation */
    #nav-bar a {
        font-size: 1em;
        color: #7d28a1;
        background-color: transparent;
        margin: 0;
        padding: 0 8px;
    }
    #nav-bar a:hover {
        text-decoration: underline;
        font-weight: bolder;
        background-color: transparent;
    }

    /* Form */
    #form {
        margin-top: 200px;
    }

    /* Prices */
    #price-wrapper {
        flex-direction: column;
    }
}